@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Russo One', cursive;
  src: url('hhttps://fonts.googleapis.com/css?family=Russo+One')
}

bodym, * {
  font-family: 'Russo One';
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
